name: CI Build

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    strategy:
      matrix:
        configuration: [Release, Debug]
        
    runs-on: windows-latest
    name: Build ${{ matrix.configuration }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Add MSBuild to PATH
      uses: microsoft/setup-msbuild@v1.1
      
    - name: Build
      run: |
        msbuild revLoader.sln `
          /p:Configuration=${{ matrix.configuration }} `
          /p:Platform=Win32 `
          /p:VisualStudioVersion=15.0 `
          /maxcpucount:4
          
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: revLoader-${{ matrix.configuration }}
        path: |
          **/bin/**/*.exe
          **/bin/**/*.dll
